* {
  background-color: rgb(130, 136, 142);
  margin: 5px;
  padding: 5px;
  color: rgb(210, 212, 213);
}

h1 {
  text-align: center;
  color: antiquewhite;
  background-color: rgb(119, 119, 119);
}

.kitchen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.box1 {
  margin-left: auto;
  margin-right: auto;
  padding: 24%;
  padding-top: 0%;
}
